
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMP DETAILS</title>
</head>
<body>
    <a href="/">HOME</a>
    <h1>Details About {{Emp.firstname}} :-</h1>
    <hr>
    <p>Full name :- {{Emp.firstname}} {{Emp.lastname}}</p>
    <p>Position :-{{Emp.position}}</p>
    <p>salary :- {{Emp.salary}}</p>
    <p>Phone :- {{Emp.phone}}</p>
    <hr>
    <center><p>Back to <a href="/emp_list">Employees List</a></p></center>
    
</body>
</html>