{% extends "master.html" %}


{% block title %}
  My Tennis Club
{% endblock %}


{% block content %}
 <h1>
  Our project  total urls are:
 </h1>
 <ul>
  <li><a href="/Registrations">create a super user</a></li>
  <li><a href="/register_admin">create Admin user with specified access</a></li>
  <li><a href="login_admin/">admin login page</a></li>
  <li><a href="admin/">Admin page</a></li>
  <li><a href="members/">Member model </a></li>
  <li><a href="emp_list/">Employee model</a></li>
  <li><a href="contacts/">Contacts model</a></li>
  <li><a href="form/">Add recods to Emp model</a></li>
  <li><a href="calc/">Mini calculator</a></li>
  <li><a href="contacts/contact/">add records to Contact model</a></li>
  <li><a href="members_form/">add records to Member model</a></li>
  <li><a href="register/">go to register page</a></li>
  <li><a href="login/">go to login page</a></li>
  <li><a href="name/">go to edit delte names model</a></li>
  <li><a href="mail/">send a sample mail</a></li>
  <li><a href="email/">send mail to by entering data </a></li>
  <li><a href="otp/">send otp to email</a></li>
  <li><a href="register_email/">rigister by sending otp</a></li>
  <li><a href="product_register/">goto product registration page</a></li>
  <li><a href="product_login/">login with panel</a></li>
  <li><a href="login_product/">login without panel</a></li>
  <li><a href="Quiz_Questions/">Add questions</a></li>
  <li><a href="Student_name/">Quiz</a></li>
  
 <hr>
<p>click them to go to the webpage</p>
{% endblock %}